@import "../../variables";

:root {
  --divider-height: 2px;
  --divider-color: color(var(--brand-black) tint(5%));
  --divider-color-alt: color(var(--divider-color) tint(10%));
}

.divider {
  width: 100%;
}

.normal {
  composes: divider;

  height: var(--divider-height);
  background-color: var(--divider-color);
  border: 0;
}

.inset {
  composes: divider;

  border-top: 1px solid color(var(--divider-color) shade(20%) a(50%));
  border-bottom: 1px solid color(var(--divider-color) tint(20%) a(50%));
}
