@import "../variables";

:root {
  --border-radius: 4px;
  --border-color: color(var(--brand-black) tint(8%));
}

.button-group {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;

  .button {
    position: relative;
  }
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.filled {

  &.horizontal {

    .button {
      margin-left: -1px;
      border: 1px solid var(--border-color);

      &:first-child {
        margin-left: 0;
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
      }

      &:last-child {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }
    }
  }
}

.normal {
}

.big {
}

.small {
}
