@import "../variables";

:root {
  --player-background: #000;
  --player-text-color: var(--brand-light);

  --player-outline-color: color(var(--brand-black) tint(10%));
}

.player {
  position: relative;
  user-select: none;
  background-color: var(--player-background);
  color: var(--player-text-color);

  &:focus {
    outline: 1px dotted var(--player-outline-color);
  }
}

.container {
  position: relative;
}
